.CartPage {
    margin-top: 60px;
}

.leftright {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.CPTitem .end {
    text-align: end;
}

.CPTitem {
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid rgba(102, 102, 102, 0.204) !important;
}

.CPTitemTop {
    display: grid;
    grid-template-columns: 100px auto;
    text-align: initial;
}

.CPTitem .leftright .PCBrow {
    margin-top: -10px;
}

.cartPage {
    background-color: rgba(232, 232, 232, 0.439);
    padding-bottom: 20px;
}

.applycoupon {
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.applycoupon i:first-child {
    margin-right: 10px;
}

.CartAddress {
    padding: 10px 20px 10px 20px;
    text-align: initial;
    background-color: white;
}

.itemTotal {
    background-color: white;
    margin: 10px 0 10px 0;
    padding: 20px 10px 20px 10px;
}

.CommonPC {
    background-color: white;
}

.cartPage .CommonPC {
    width: auto;
    min-width: 300px;
    margin-left: 20px;
    border-radius: 10px;
}

.CartRproduct {
    display: flex;
    overflow-x: scroll;
    margin-bottom: 70px;
}

.EssentialsCardContianer {
    padding-bottom: 170px !important;
}

.HelpPage {
    background-color: rgba(244, 244, 244, 1);
    height: 100vh;
    overflow-y: scroll;
}

.HelpPage .TopHeadP {
    background-color: white;
    margin-bottom: 20px;
}

.Aboutlink {
    color: rgb(255, 98, 0);
    font-weight: 600;
    text-decoration: underline;
    text-align: initial;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 0;
}

.HelpItemCard {
    background-color: white;
    margin-bottom: 2px;
    padding: 12px;
    padding-top: 17px;
    padding-bottom: 17px;
    text-align: initial;
    color: #323B4C
}

.HelpItemCard i {
    margin-left: 15px;
}

.highlighter12:active {
    opacity: 0.3;
}

.CPCRName {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;
}

.CartRproduct .CPCR {
    overflow: hidden;
}

.CartRproduct img {
    height: 150px !important
}

.CPTitemTop img {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    border: 1.3px solid rgb(228, 244, 239);
}

.OrderPlacedAnim {
    animation-name: OrderPlacedAnim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.OrderCard:first-child {
    margin-top: 0;
}

* {

    word-wrap: break-word;

}

.OPCRows .row .column {
    width: 100%;
}

.OPCRows .row span:nth-child(3n) {
    width: 100%
}

.OPCRows .row span:nth-child(3) {
    text-align: end;
}

/* .OrderPlacedAnimF {
    animation-name: OrderPlacedAnim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
} */

@keyframes OrderPlacedAnim {
    0% {
        transform: scale(0.7);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(0.7);
    }
}






.card {
    width: 150px;
    margin: 5vw;
    height: 180px;
    overflow-y: clip;
}

.card__image.loading,
.card__image img {
    height: 150px;
    width: 150px;
}

.loading {
    position: relative;
    background-color: #e2e2e2;
}

.loading:after {
    display: block;
    content: "";
    position: absolute;
    height: 340px;
    width: 180px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, hsla(0, 0%, 100%, .2), transparent);
    -webkit-animation: loading .4s infinite;
    animation: loading .4s infinite;
}

.card__title.loading {
    height: 1rem;
    margin: 1rem 0 1rem 0;
    border-radius: 3px;
}

.card__title {
    padding: 8px;
    font-size: 22px;
    font-weight: 700;
}


@keyframes loading {
    to {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}

.EssentialsCardContianer .card,
.ProductsPage2 .card {
    height: 30px;
    width: calc(100% - 40px)
}

.EssentialsCardContianer .card .card__image,
.ProductsPage2 .card .card__image {
    display: none
}

.CouponSearchBar {
    display: grid;
    grid-template-columns: auto 90px;
    padding: 15px;
    background-color: rgba(232, 232, 232, 0.439);
}

.CouponPage {
    background-color: rgba(232, 232, 232, 0.439);
}

.CouponSearch {
    padding: 10px;
    font-size: 14px;
    /* width: calc(100% - 20px); */
    border: 1px solid rgba(227, 227, 227, 0.96);
    border-radius: 5px;
}

.CouponBut {
    margin-left: 10px;
    width: 80px;
    background-color: rgba(76, 173, 144, 1);
    border: none;
    border-radius: 5px;
    color: white;
}

.CouponCard .PCoff {
    margin-bottom: 0;
    padding: 5px;
    font-size: 14px;
}

.CouponCardDesc {
    text-align: initial;
    font-size: 16px;
    color: rgb(50, 59, 76);
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    padding-bottom: 10px;
    /* padding-bottom: 5px; */
    /* margin-bottom: 5px;
    border-bottom: 1px solid rgba(102, 102, 102, 0.204); */
}

.CouponCard {
    margin-top: 5px;
}

.CouponCard .greentext {
    color: rgba(76, 173, 144, 1)
}

.CouponCard .leftright {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
}

.CouponCardNote {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 3px;
    padding-top: 10px;
    text-align: initial;
    background-color: white;
    color: rgba(50, 59, 76, 0.585);
    padding-bottom: 10px;
}